In [21]:
import pandas as pd
import numpy as np

In [22]:
books = pd.read_csv(r'C:\Users\Hp\Desktop\book-recommender-system\Books.csv')
ratings = pd.read_csv(r'C:\Users\Hp\Desktop\book-recommender-system\Ratings.csv')
users = pd.read_csv(r'C:\Users\Hp\Desktop\book-recommender-system\Users.csv')

C:\Users\Hp\AppData\Local\Temp\ipykernel_8252\511368622.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(r'C:\Users\Hp\Desktop\book-recommender-system\Books.csv')

In [23]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [24]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [25]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [26]:
books_rating = ratings.merge(books,on='ISBN')

In [27]:
books_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...

In [28]:
num_ratings.head()

                                          Book-Title  num_rating
0   A Light in the Storm: The Civil War Diary of ...           4
1                              Always Have Popsicles           1
2               Apple Magic (The Collector's series)           1
3   Ask Lily (Young Women of Faith: Lily Series, ...           1
4   Beyond IBM: Leadership Marketing and Finance ...           1

In [29]:
num_ratings = books_rating.groupby('Book-Title')['Book-Rating'].count().reset_index()

In [30]:
num_ratings.rename(columns={'Book-Rating':'num_rating'},inplace = True)

In [31]:
num_ratings.head()

                                          Book-Title  num_rating
0   A Light in the Storm: The Civil War Diary of ...           4
1                              Always Have Popsicles           1
2               Apple Magic (The Collector's series)           1
3   Ask Lily (Young Women of Faith: Lily Series, ...           1
4   Beyond IBM: Leadership Marketing and Finance ...           1

In [32]:
avg_ratings = books_rating.groupby('Book-Title')['Book-Rating'].mean().reset_index()

In [33]:
avg_ratings.head()

                                          Book-Title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...         2.25
1                              Always Have Popsicles         0.00
2               Apple Magic (The Collector's series)         0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...         8.00
4   Beyond IBM: Leadership Marketing and Finance ...         0.00

In [34]:
avg_num_rating = num_ratings.merge(avg_ratings,on='Book-Title')

In [35]:
avg_num_rating.head()

                                          Book-Title  num_rating  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...           4         2.25
1                              Always Have Popsicles           1         0.00
2               Apple Magic (The Collector's series)           1         0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...           1         8.00
4   Beyond IBM: Leadership Marketing and Finance ...           1         0.00

In [36]:
popular_df = avg_num_rating[avg_num_rating['num_rating']>250].sort_values('Book-Rating',ascending = False)

In [37]:
popular_df.head()

,Book-Title,num_rating,Book-Rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453

In [38]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','Book-Rating','num_rating']]

In [39]:
popular_df = popular_df.head(50)

In [62]:
popular_df.head()

,Book-Title,Book-Author,Image-URL-M,Book-Rating,num_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,5.852804,428
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,5.824289,387
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,5.737410,278
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,5.501441,347
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,5.183453,556

In [40]:
books_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...

In [41]:
books_rating.groupby('User-ID')['Book-Rating'].agg(['mean','count'])

              mean  count
User-ID
2         0.000000      1
8         2.294118     17
9         2.000000      3
10        0.000000      1
12       10.000000      1
...            ...    ...
278846    8.000000      1
278849    2.250000      4
278851    3.956522     23
278852    8.000000      1
278854    5.250000      8

[92106 rows x 2 columns]

In [42]:
x=books_rating.groupby('User-ID')['Book-Rating'].count().reset_index()

In [43]:
x=x[x['Book-Rating']>200]

In [44]:
user_bookrating_morethan200 = x['User-ID']

In [45]:
filter_rating = books_rating[books_rating['User-ID'].isin(user_bookrating_morethan200)]

In [46]:
filter_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1150,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
1151,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,http://images.amazon.com/images/P/0026217457.0...,http://images.amazon.com/images/P/0026217457.0...
1152,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,http://images.amazon.com/images/P/003008685X.0...,http://images.amazon.com/images/P/003008685X.0...
1153,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...,http://images.amazon.com/images/P/0030615321.0...,http://images.amazon.com/images/P/0030615321.0...
1154,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...,http://images.amazon.com/images/P/0060002050.0...,http://images.amazon.com/images/P/0060002050.0...

In [47]:
famous_books = filter_rating.groupby('Book-Title')['Book-Rating'].count().reset_index()

In [48]:
y = famous_books[famous_books['Book-Rating']>=50]

In [49]:
y = y['Book-Title']

In [50]:
f_ratings = filter_rating[filter_rating['Book-Title'].isin(y)]

In [51]:
pt = f_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [52]:
pt.fillna(0,inplace = True)

In [65]:
pt.head()

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
 from sklearn.metrics.pairwise import cosine_similarity

In [55]:
similarity_scores = cosine_similarity(pt)

In [56]:
similarity_scores.shape

(706, 706)

In [63]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [57]:
def recommend(book_name):
    index = np.where(pt.index == book_name)[0][0]
    similar_books = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:6]

    data = []
    for i in similar_books:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))

        data.append(item)
    return data

In [58]:
recommend('1984')

Animal Farm
The Handmaid's Tale
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
The Hours : A Novel

In [59]:
np.where(pt.index=='1984')[0][0]

0

In [60]:
similarity_scores[0]
list(enumerate(similarity_scores[0]))
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],reverse=True)

[(0, 0.9999999999999998),
 (47, 0.2702651417103732),
 (545, 0.26396193711234966),
 (82, 0.2366937434740099),
 (634, 0.23299389358170397),
 (551, 0.2262639743141286),
 (181, 0.22222254415660225),
 (500, 0.21057743765309012),
 (344, 0.20675540390454),
 (554, 0.20025063706783053),
 (520, 0.19972624710300058),
 (527, 0.19656287691544358),
 (488, 0.19511819825564608),
 (552, 0.1920889620576415),
 (318, 0.19182230688281934),
 (624, 0.18925313707609975),
 (598, 0.189213677823462),
 (60, 0.18908176672188648),
 (622, 0.18571699439818884),
 (647, 0.1841081817659337),
 (546, 0.18408910419891056),
 (202, 0.18049207281616433),
 (541, 0.17990898085771034),
 (309, 0.17415730924332484),
 (588, 0.1738182944100774),
 (537, 0.17008719986228352),
 (544, 0.1672877700938274),
 (66, 0.16566734565340113),
 (118, 0.165272766123669),
 (269, 0.1650329228149958),
 (354, 0.16337845332530374),
 (476, 0.16104067376144765),
 (407, 0.16041182196659062),
 (590, 0.16000267935045498),
 (666, 0.1589387141616799),
 (92, 0.1585082118281064),
 (214, 0.15570975499937129),
 (119, 0.15514318804365945),
 (569, 0.15344079020689355),
 (397, 0.1530551446766823),
 (334, 0.15293362041446346),
 (225, 0.1528098402276361),
 (576, 0.15211972188253267),
 (174, 0.14909595195082756),
 (169, 0.1470284656227732),
 (192, 0.14691166711955864),
 (591, 0.1468148574991744),
 (357, 0.1459525808785892),
 (550, 0.1445684727872654),
 (643, 0.1444555917585842),
 (659, 0.14444516556944695),
 (638, 0.14440017099395475),
 (583, 0.14421330855040418),
 (21, 0.14333792815336935),
 (302, 0.1428139852200272),
 (558, 0.14201659839857333),
 (86, 0.1417627291694863),
 (153, 0.1414518615569236),
 (251, 0.13974513728492968),
 (293, 0.13974104783917973),
 (387, 0.1390419059870689),
 (7, 0.13732869060263378),
 (27, 0.13658680855472938),
 (474, 0.13644383961641227),
 (511, 0.13617057407600314),
 (636, 0.13573542468856645),
 (253, 0.13510607638008787),
 (305, 0.13445376799866068),
 (409, 0.1343973311768824),
 (14, 0.13388864701187034),
 (518, 0.13369059478865902),
 (674, 0.13365875731715243),
 (68, 0.13357242093379193),
 (206, 0.13278139031675887),
 (262, 0.13257638388225185),
 (374, 0.13107651944057502),
 (482, 0.13090710604063543),
 (438, 0.130281708532021),
 (197, 0.12871083086643306),
 (606, 0.1285851502948571),
 (420, 0.12822981990037824),
 (562, 0.1279402426979562),
 (65, 0.12680124740531368),
 (682, 0.1265536444037226),
 (286, 0.12548312467838352),
 (699, 0.12530648498478347),
 (640, 0.12522954271046705),
 (410, 0.12508513698245888),
 (326, 0.12468283384023092),
 (312, 0.1238906533021012),
 (660, 0.12340233502840114),
 (216, 0.12338216998991305),
 (557, 0.12333680291383342),
 (434, 0.12307492189941618),
 (219, 0.12177532243608828),
 (29, 0.12167133598776537),
 (101, 0.12114265984279052),
 (703, 0.12110366748083307),
 (627, 0.12024780353669523),
 (303, 0.11979305199464946),
 (255, 0.11841889291663141),
 (385, 0.1178980615083171),
 (243, 0.11784705785247843),
 (512, 0.11784149206441577),
 (19, 0.11706383185253948),
 (40, 0.11679968613719667),
 (87, 0.11661082872914152),
 (489, 0.11494879598141551),
 (604, 0.1144539948977886),
 (495, 0.11400426236261282),
 (362, 0.11362722122094872),
 (515, 0.11277296885857815),
 (16, 0.1115354275858341),
 (465, 0.11122764671322921),
 (117, 0.1103944810687539),
 (649, 0.10990764051155277),
 (73, 0.1096807501418389),
 (366, 0.10941777035919222),
 (494, 0.10853661984252007),
 (650, 0.10850377176901972),
 (205, 0.10849696385128584),
 (470, 0.10800615252570414),
 (612, 0.10725981836116358),
 (151, 0.10684794535545848),
 (630, 0.10596223905942811),
 (79, 0.10519138203342883),
 (324, 0.10467615354986062),
 (84, 0.1039794092420736),
 (194, 0.1035963528100001),
 (459, 0.10354480865656568),
 (149, 0.10341190148072846),
 (437, 0.1033826953037451),
 (578, 0.10307399310158656),
 (230, 0.10266993316420167),
 (611, 0.10266590131312461),
 (327, 0.10266459423639845),
 (1, 0.10255024829874465),
 (432, 0.10228551050235933),
 (261, 0.10174252819190155),
 (402, 0.10135299399598713),
 (323, 0.10084626149563478),
 (421, 0.0999877199669616),
 (670, 0.09993168845101595),
 (137, 0.09974980034668829),
 (431, 0.0992354177657422),
 (461, 0.09919937023309428),
 (152, 0.09898722239993361),
 (615, 0.09872940458571848),
 (628, 0.09840359079895453),
 (620, 0.09797466122629746),
 (195, 0.09794374510256892),
 (363, 0.09791273187403503),
 (307, 0.0979064447776707),
 (48, 0.09779122591837026),
 (574, 0.09772941568150427),
 (373, 0.09754449459555777),
 (228, 0.09746696979819942),
 (13, 0.09673734976610586),
 (183, 0.09673267751838878),
 (531, 0.09596456280564838),
 (565, 0.09532519178944057),
 (645, 0.09508161331593905),
 (36, 0.09495937740802214),
 (672, 0.09488374038474037),
 (155, 0.09428288870384942),
 (514, 0.0928435169211848),
 (211, 0.09203038690315052),
 (377, 0.09132921952528268),
 (684, 0.09095705260744957),
 (348, 0.09014973218560086),
 (440, 0.09005001295005992),
 (400, 0.08996912406728536),
 (198, 0.08992738703666601),
 (439, 0.08988894455657523),
 (429, 0.08982750671022352),
 (50, 0.08958834926611466),
 (316, 0.08951389572154368),
 (365, 0.0891233745026412),
 (665, 0.08904275766583061),
 (570, 0.08856301637769422),
 (44, 0.08785938150991274),
 (217, 0.08784690368235953),
 (275, 0.08781992709390865),
 (24, 0.08723968326958673),
 (648, 0.08704223712018071),
 (281, 0.08673968616705958),
 (422, 0.08642894687915843),
 (296, 0.08608600626732467),
 (513, 0.08588206473402643),
 (560, 0.08563805381851426),
 (540, 0.08541217689607684),
 (331, 0.08474055728984814),
 (43, 0.08471898090442946),
 (270, 0.08466191294337998),
 (245, 0.08422557655984436),
 (215, 0.0842069105937096),
 (683, 0.08418288167449578),
 (689, 0.0839284865111645),
 (42, 0.08354155383339157),
 (88, 0.08331012208964668),
 (15, 0.08303111691811028),
 (250, 0.08294512991462386),
 (536, 0.08280451731096075),
 (584, 0.08272478073987326),
 (416, 0.0824612198578452),
 (6, 0.08216491130000354),
 (218, 0.0820594460339464),
 (517, 0.08200947294838495),
 (686, 0.08143881222401984),
 (121, 0.08139488796880032),
 (481, 0.08100800937525751),
 (462, 0.08091989315700655),
 (616, 0.0807748212690039),
 (522, 0.08062879942666365),
 (632, 0.08054389803075192),
 (442, 0.08033435626539932),
 (542, 0.08007284499901246),
 (605, 0.08001595368794219),
 (364, 0.07999692625971765),
 (39, 0.07984012108659384),
 (33, 0.07965814289647455),
 (276, 0.07885279086963545),
 (58, 0.07877058635507732),
 (301, 0.07866868132289853),
 (22, 0.07847534327232125),
 (654, 0.07845404559691257),
 (353, 0.07843565693314272),
 (244, 0.07839488163675291),
 (158, 0.07835976130061303),
 (690, 0.07785800873431292),
 (594, 0.07725115117942094),
 (330, 0.07652764821891074),
 (631, 0.07617194789896939),
 (28, 0.07600327535501016),
 (231, 0.0757441443938586),
 (358, 0.07561631141753603),
 (472, 0.0755468596127809),
 (164, 0.07477661367406771),
 (595, 0.07464762808145006),
 (123, 0.07458202717929566),
 (227, 0.07458136399603107),
 (310, 0.07437756212042423),
 (254, 0.07423488726781508),
 (112, 0.07422249010392888),
 (664, 0.07391777683093743),
 (564, 0.07352435567112062),
 (458, 0.07348190409223959),
 (704, 0.07347566833900478),
 (504, 0.07276403383736725),
 (187, 0.07262017448772083),
 (131, 0.07258934796997447),
 (506, 0.07242165076731459),
 (538, 0.07213921021695388),
 (567, 0.0719421185191427),
 (355, 0.07161075491687474),
 (692, 0.07151793939760116),
 (484, 0.07150547342980032),
 (396, 0.07136276113078666),
 (535, 0.07052240553428667),
 (418, 0.07025002832914887),
 (597, 0.07021576771146076),
 (26, 0.07009814362931202),
 (322, 0.0700882246357741),
 (667, 0.06947573726333098),
 (549, 0.0691101496608291),
 (77, 0.06876130890656589),
 (516, 0.06868983304237651),
 (376, 0.06829903941402894),
 (241, 0.06806264765162154),
 (271, 0.06795352889900172),
 (507, 0.06790897506872169),
 (11, 0.06766486753662343),
 (51, 0.06748675491514017),
 (525, 0.06738056011305654),
 (677, 0.0672128392842741),
 (90, 0.06715432766232284),
 (347, 0.06681045925540752),
 (389, 0.06671644037106779),
 (69, 0.06615478064452682),
 (196, 0.06609996896203728),
 (582, 0.06572303470837207),
 (596, 0.06546695823953794),
 (300, 0.06541867556977009),
 (109, 0.06524573363186935),
 (447, 0.06523041320455897),
 (289, 0.06520605980064662),
 (490, 0.06513046875777172),
 (104, 0.06510721558252526),
 (534, 0.06476148889541151),
 (386, 0.06468143253238315),
 (641, 0.06455010070487521),
 (232, 0.06426525769208898),
 (491, 0.06401961292305569),
 (212, 0.06388401351716998),
 (423, 0.0635519690782283),
 (528, 0.06306425554305625),
 (581, 0.06303898971663935),
 (120, 0.06237453600241552),
 (350, 0.06206857320564754),
 (85, 0.06167753120046458),
 (23, 0.06150451339525138),
 (486, 0.06143184266443724),
 (444, 0.061398875647666676),
 (608, 0.06129105448105361),
 (530, 0.06123118935155921),
 (381, 0.06113178628791212),
 (469, 0.060877194204984726),
 (170, 0.06087281632872059),
 (291, 0.06069830203664196),
 (398, 0.06039873575147915),
 (49, 0.060160461842087495),
 (369, 0.060039300152930415),
 (147, 0.05995157134958024),
 (190, 0.05994663767295999),
 (593, 0.05940546334243634),
 (125, 0.059363300295016304),
 (207, 0.059152881703632795),
 (349, 0.05914734917065386),
 (625, 0.05894189200911533),
 (701, 0.05864096359154978),
 (103, 0.058191840680734276),
 (501, 0.058097069301565475),
 (675, 0.057940637804840725),
 (392, 0.05762086381548707),
 (524, 0.057560148077814344),
 (371, 0.05755407693373189),
 (579, 0.057157891413611744),
 (671, 0.05711356172333468),
 (41, 0.056912401804646934),
 (467, 0.05666140304625101),
 (122, 0.056554138733275305),
 (56, 0.056290668459108455),
 (175, 0.05606788035530558),
 (547, 0.05600272988869),
 (264, 0.055102704646119355),
 (45, 0.05491435163039676),
 (46, 0.054850498513470236),
 (479, 0.05438295377092604),
 (601, 0.05437622462310082),
 (485, 0.05428487095514969),
 (229, 0.05416091103251691),
 (186, 0.05400331245399732),
 (208, 0.053729841666378134),
 (4, 0.053672244225442485),
 (623, 0.053445774200822666),
 (441, 0.05332049434044375),
 (107, 0.05273164983675109),
 (505, 0.05264856975654457),
 (453, 0.05261953990010256),
 (696, 0.05237226614377158),
 (427, 0.0522373263993224),
 (59, 0.052194792200893965),
 (646, 0.05179020017229585),
 (487, 0.051616531477964966),
 (556, 0.05144282019851702),
 (466, 0.05143480653633815),
 (203, 0.05141892092902459),
 (17, 0.05100410510067514),
 (406, 0.05021880312673623),
 (154, 0.05007429159938883),
 (602, 0.04932819154504025),
 (256, 0.049300912125160704),
 (457, 0.048593102089385304),
 (259, 0.04815971759587031),
 (306, 0.04809338200514574),
 (277, 0.04799058127298857),
 (475, 0.04796762686649386),
 (360, 0.047796293241950796),
 (213, 0.04773328410790857),
 (204, 0.047717402129725514),
 (102, 0.04768602689229997),
 (106, 0.047670497142785574),
 (464, 0.04757132169040053),
 (128, 0.04734092759216691),
 (426, 0.04706590154362337),
 (249, 0.046982457315643385),
 (496, 0.046392498261486066),
 (580, 0.046000562607200646),
 (443, 0.045977952103493924),
 (637, 0.045785523306335146),
 (610, 0.04550867061591275),
 (280, 0.04549923467689111),
 (450, 0.04542765998492866),
 (34, 0.04522616573040869),
 (75, 0.04521795287053612),
 (160, 0.04515898041752436),
 (267, 0.04504597870526374),
 (53, 0.044680983219421905),
 (297, 0.04433882752568145),
 (575, 0.044043586511889346),
 (502, 0.043491562429456586),
 (425, 0.04335826491498011),
 (705, 0.04316045784191231),
 (64, 0.04279501979786338),
 (658, 0.04223674045619745),
 (688, 0.042188025333763236),
 (586, 0.04203701143606598),
 (548, 0.04133585716291763),
 (317, 0.04005551020725377),
 (163, 0.04003333547158616),
 (651, 0.03954864515701187),
 (346, 0.03902659506471766),
 (652, 0.03836309816637586),
 (124, 0.03771888280719047),
 (114, 0.03734566872286401),
 (695, 0.03734566872286401),
 (226, 0.03709430441334803),
 (224, 0.03671505063990275),
 (9, 0.03667590746512177),
 (189, 0.036498718026030004),
 (178, 0.03643816906953526),
 (233, 0.03601739518550193),
 (328, 0.035498355256648746),
 (529, 0.03499381360818396),
 (268, 0.03482458685305275),
 (209, 0.034785003361519164),
 (655, 0.03455547895208963),
 (566, 0.03421894679431926),
 (127, 0.03355602562283),
 (80, 0.03349456939792139),
 (238, 0.03349154464789058),
 (93, 0.03280520241000348),
 (8, 0.03261686350494277),
 (177, 0.03199916313406436),
 (136, 0.030678189040978528),
 (321, 0.03054044240047009),
 (656, 0.030076807297674774),
 (272, 0.029876534978291205),
 (63, 0.029845724311982225),
 (126, 0.02955369248311012),
 (339, 0.02946442510264468),
 (298, 0.029430847399312027),
 (359, 0.029397384230560795),
 (424, 0.028830240654024085),
 (145, 0.028808272598853126),
 (283, 0.028806369616477166),
 (662, 0.028443700563612766),
 (642, 0.02817521704586765),
 (141, 0.028108399645259814),
 (108, 0.02810009706063171),
 (74, 0.02806606106883051),
 (379, 0.02781406274224919),
 (5, 0.027749013024662858),
 (150, 0.027667475691473428),
 (172, 0.027418756526771074),
 (97, 0.02687778911799567),
 (167, 0.026674838717939867),
 (329, 0.026674838717939867),
 (503, 0.02646255704581015),
 (258, 0.026330228561191004),
 (76, 0.02613276804655889),
 (38, 0.026104653172312028),
 (613, 0.026053401473749117),
 (314, 0.025808491020821493),
 (95, 0.025797824097510556),
 (171, 0.025783211586063344),
 (414, 0.025480338679592467),
 (18, 0.025177841632809915),
 (599, 0.02494136129371724),
 (657, 0.024840764583155147),
 (288, 0.02482518222135733),
 (559, 0.024720785609384784),
 (383, 0.024712941476041382),
 (236, 0.024635927968282654),
 (653, 0.02463490862737704),
 (200, 0.024601653277066596),
 (220, 0.024337026385897676),
 (509, 0.024318094429406693),
 (135, 0.02428501142412964),
 (285, 0.024141217209915328),
 (140, 0.024108621631248803),
 (693, 0.02407593195976403),
 (553, 0.023933399289577127),
 (561, 0.023634261138311616),
 (411, 0.02329035016031528),
 (10, 0.02322418425912186),
 (533, 0.023175154774464087),
 (607, 0.023066582966561253),
 (446, 0.023049037833599993),
 (445, 0.023007092325074995),
 (395, 0.02297481006625077),
 (568, 0.022970785411852147),
 (521, 0.0228620664348094),
 (587, 0.022760772453994885),
 (319, 0.02267512161790004),
 (393, 0.02266096293926825),
 (299, 0.022424955017243866),
 (184, 0.02190023295408395),
 (532, 0.021801683645525486),
 (333, 0.021774817728178283),
 (98, 0.02175821065382328),
 (372, 0.021668631362692693),
 (419, 0.021636698437203145),
 (617, 0.02159225803102367),
 (338, 0.021530886296301118),
 (239, 0.021353685011361416),
 (663, 0.021320163671431275),
 (148, 0.021276714965680187),
 (279, 0.021238372796229556),
 (110, 0.021163446843373374),
 (368, 0.02115842407200956),
 (96, 0.02114858980511902),
 (111, 0.02097867986921867),
 (510, 0.020935646634428463),
 (609, 0.02090768582511093),
 (193, 0.020860053643757807),
 (619, 0.020846396819831855),
 (12, 0.020839782065795794),
 (341, 0.020767833514212724),
 (678, 0.020669978441948792),
 (247, 0.02040796206066411),
 (235, 0.02033558874805688),
 (242, 0.020321161226731627),
 (436, 0.020281245334279798),
 (284, 0.020221447157344582),
 (185, 0.020135489410098205),
 (352, 0.020059585724360268),
 (412, 0.019872703940133213),
 (294, 0.019788442258843547),
 (180, 0.01962921144060071),
 (260, 0.019598256153707194),
 (54, 0.019208718234636258),
 (448, 0.01915362558614925),
 (589, 0.019099672781938637),
 (621, 0.019067312487474012),
 (240, 0.019033695446023926),
 (417, 0.01902896010686717),
 (166, 0.018873932015163516),
 (573, 0.018786559700050654),
 (265, 0.018611497829688243),
 (304, 0.01858409288796079),
 (680, 0.018394279624570017),
 (332, 0.018319772326554337),
 (497, 0.018252769789423258),
 (37, 0.018230696811058135),
 (144, 0.0181287703514146),
 (361, 0.018072383204619496),
 (384, 0.018015801292409934),
 (370, 0.017971540540139944),
 (702, 0.017696441246693336),
 (478, 0.017598641856748937),
 (435, 0.01758928833928951),
 (382, 0.017572862308732076),
 (113, 0.017527779718968118),
 (543, 0.017396246144706713),
 (320, 0.017303468493582226),
 (644, 0.017210453378914768),
 (460, 0.0171880657878069),
 (600, 0.017050265851722604),
 (139, 0.016901518597837405),
 (325, 0.016834621675675482),
 (404, 0.016763442237401817),
 (130, 0.016719816747289874),
 (694, 0.016351262734144115),
 (508, 0.016265641643564675),
 (257, 0.016216682151444957),
 (618, 0.016142753550857224),
 (100, 0.016016629607635186),
 (116, 0.01579666260459111),
 (234, 0.01559751952620105),
 (35, 0.01556270914112474),
 (345, 0.015542921836058245),
 (401, 0.015459465622161536),
 (380, 0.015333681815045101),
 (577, 0.015222501642298877),
 (182, 0.015158449197584845),
 (661, 0.015102006885841438),
 (555, 0.015076532862248153),
 (626, 0.014881608648267744),
 (31, 0.01473221255132234),
 (278, 0.014679640011206505),
 (168, 0.01432863977616057),
 (156, 0.014112489355409683),
 (81, 0.013634576553468258),
 (78, 0.013316271087745269),
 (454, 0.01317087876205714),
 (162, 0.012814117802391826),
 (295, 0.012608239194211564),
 (62, 0.012406560213354146),
 (252, 0.012345246102533871),
 (2, 0.012208555646509366),
 (165, 0.012179056920074677),
 (499, 0.011952011165403655),
 (342, 0.011948245768325256),
 (292, 0.011778242975805127),
 (539, 0.011722012964226876),
 (199, 0.011474570339750256),
 (697, 0.011401692977613393),
 (188, 0.011116365315772406),
 (413, 0.011056735115042383),
 (563, 0.01083152786792504),
 (635, 0.01073641547918824),
 (94, 0.010689154840164533),
 (337, 0.010632508151830204),
 (668, 0.010607867311865709),
 (629, 0.010481255663709239),
 (313, 0.010423913217045038),
 (129, 0.010066425112509755),
 (698, 0.009687245558530464),
 (343, 0.009536746594659161),
 (673, 0.009489432211152974),
 (700, 0.009099054369341325),
 (415, 0.0089604367821904),
 (282, 0.00885998445194921),
 (159, 0.00882242400686552),
 (430, 0.00875634332679306),
 (89, 0.00850895140653615),
 (394, 0.008448763927099017),
 (30, 0.007680459111722776),
 (685, 0.007305889033771798),
 (483, 0.00581843892000093),
 (57, 0.005579638588454276),
 (463, 0.0035883533320389396),
 (221, 0.00272862336930817),
 (614, 0.0017370894470936135),
 (3, 0.0),
 (20, 0.0),
 (25, 0.0),
 (32, 0.0),
 (52, 0.0),
 (55, 0.0),
 (61, 0.0),
 (67, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (83, 0.0),
 (91, 0.0),
 (99, 0.0),
 (105, 0.0),
 (115, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (138, 0.0),
 (142, 0.0),
 (143, 0.0),
 (146, 0.0),
 (157, 0.0),
 (161, 0.0),
 (173, 0.0),
 (176, 0.0),
 (179, 0.0),
 (191, 0.0),
 (201, 0.0),
 (210, 0.0),
 (222, 0.0),
 (223, 0.0),
 (237, 0.0),
 (246, 0.0),
 (248, 0.0),
 (263, 0.0),
 (266, 0.0),
 (273, 0.0),
 (274, 0.0),
 (287, 0.0),
 (290, 0.0),
 (308, 0.0),
 (311, 0.0),
 (315, 0.0),
 (335, 0.0),
 (336, 0.0),
 (340, 0.0),
 (351, 0.0),
 (356, 0.0),
 (367, 0.0),
 (375, 0.0),
 (378, 0.0),
 (388, 0.0),
 (390, 0.0),
 (391, 0.0),
 (399, 0.0),
 (403, 0.0),
 (405, 0.0),
 (408, 0.0),
 (428, 0.0),
 (433, 0.0),
 (449, 0.0),
 (451, 0.0),
 (452, 0.0),
 (455, 0.0),
 (456, 0.0),
 (468, 0.0),
 (471, 0.0),
 (473, 0.0),
 (477, 0.0),
 (480, 0.0),
 (492, 0.0),
 (493, 0.0),
 (498, 0.0),
 (519, 0.0),
 (523, 0.0),
 (526, 0.0),
 (571, 0.0),
 (572, 0.0),
 (585, 0.0),
 (592, 0.0),
 (603, 0.0),
 (633, 0.0),
 (639, 0.0),
 (669, 0.0),
 (676, 0.0),
 (679, 0.0),
 (681, 0.0),
 (687, 0.0),
 (691, 0.0)]

In [61]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [64]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))